<!DOCTYPE html>
<html>
<head>
  <title>MapList</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAWyiDX4wOXRZzDo5sLVaArK1IvT35n04I&sensor=false" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <%= javascript_include_tag "application" %>
</body>
</html>
